doctype HTML
HTML
  head
    title Minh Tran | Full Stack Developer
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400i" rel="stylesheet">
    header(class='showcase')
      div(class='content')
        img(class="Profile" src="img/Minh.PNG" alt="Minh Tran")
        div(class="title") Minh Tran
        div(class="text")  A Full Stack Developer For Fun
          p(class="links")
            a(href="https://www.linkedin.com/in/minh-m-tran/", class="fab fa-linkedin fa-2x" style="color:black") 
            a(href="https://github.com/Minhtality", class="fab fa-github fa-2x" style="color:black")
            a(href="https://www.instagram.com/minhtality/", class="fab fa-instagram fa-2x" style="color:black")
    
    setion(class="Services")
      div(class="container grid-3 center")
        div
          a(href="#", class="fas fa-briefcase fa-5x" style="color:white") 
          h3 Projects
          p Bacon ipsum dolor amet kevin swine jowl hamburger. Beef ribs filet mignon landjaeger, short loin cow capicola pork belly kielbasa buffalo drumstick ribeye pastrami pork. Sausage brisket meatball burgdoggen doner pig beef. Ham hock alcatra kevin bresaola ham meatball. Burgdoggen cupim leberkas pork loin biltong beef jerky tail hamburger cow ham hock.
        div
          a(href="#", class="fas fa-blog fa-5x" style="color:white") 
          h3 Blogs
          p Ham buffalo corned beef hamburger. Ribeye short ribs burgdoggen, ball tip corned beef short loin shankle salami. Turkey bresaola doner picanha. Turkey t-bone pork belly frankfurter. Cupim beef ribs short loin, short ribs salami t-bone turducken cow biltong. Chuck biltong hamburger turkey rump beef ribs pork belly ground round shoulder ball tip. Leberkas drumstick t-bone ribeye turkey bresaola.
        div
          a(href="#", class="fas fa-id-card fa-5x" style="color:White")
          h3 Contact
          p Swine prosciutto spare ribs, alcatra pastrami rump pork belly pork burgdoggen turkey picanha short loin. Frankfurter porchetta kevin strip steak doner shankle ham chuck beef ribs kielbasa ground round. Strip steak rump frankfurter beef ribs pork chop, tongue t-bone kielbasa. Leberkas pastrami capicola filet mignon meatloaf drumstick bacon sausage tri-tip ham flank. Chuck flank shoulder ribeye, pork belly bresaola pork.
    section(class="about bg-light")
      div(class="container")
        div(class="grid-2")
          div(class="center")
            i(class="fas fa-laptop-code fa-10x")
          div
            h3 About Me
            p bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon bacon 
    footer(class="center bg-dark") 
      p Minhtality &copy; 2019

      
        

      

          
          
              
            
          

          
