<!DOCTYPE html>
<HTML>

<head>
  <title>Minh Tran | Full Stack Developer</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400i" rel="stylesheet">
  <header class="showcase">
    <div class="content"><img class="Profile" src="img/Minh.png" alt="Minh Tran">
      <div class="title">Minh Tran</div>
      <div class="text"> A Full Stack Developer For Fun
        <p class="links"><a class="fab fa-linkedin fa-2x" href="https://www.linkedin.com/in/minh-m-tran/" style="color:black;"> </a><a class="fab fa-github fa-2x" href="https://github.com/Minhtality" style="color:black;"></a><a class="fab fa-instagram fa-2x" href="https://www.instagram.com/minhtality/" style="color:black;"></a></p>
      </div>
    </div>
  </header>
  <setion class="Services">
    <div class="container grid-3 center">
      <div><a class="fas fa-briefcase fa-5x" href="#" style="color:white;"> </a>
        <h3>Projects</h3>
        <p>This page is an on-going personal project of mine. As you check back on this site, you will slowly see it evolve and transform to different kind of projects that I deem fun. This site will be my porfolio/resume for my journey of becoming a full stack developer. Please stick around if you want to see my progress. </p>
      </div>
      <div><a class="fas fa-blog fa-5x" href="/allBlogs" style="color:white;"> </a>
        <h3>Blogs</h3>
        <p>As of right now, I'm documenting my progress and learning experience in a notepad. This section will link you guys to my personal and progress blogs. <b><i>**Disclaimer: I'm a fob and I can't write that well**</i></b>. My writing style will be similar to how I would talk in real life.<lr> These series of blogs will be focused on my life stories, how I got into coding, how I ran away from it, and how everything comes back in a full circle. Thank you C for inspiring me. </p>

      </div>
      <div><a class="fas fa-id-card fa-5x" href="#" style="color:White;"></a>
        <h3>Contact</h3>
        <p>If you have any suggestions or feedback regarding this project or my codes, please feel free to reach me at mtran1712@gmail.com. This project is also open-sourced, feel free to grab it from my GitHub. If you are new at coding and is interested in getting started, please reach out to me. I'm also new (:</p>
      </div>
    </div>
  </setion>
  <section class="about bg-light">
    <div class="container">
      <div class="grid-2">
        <div class="center"><i class="fas fa-laptop-code fa-10x"></i></div>
        <div>
          <h3>About Me</h3>
          <p>My name is Minh Tran and I'm a full stack developer for fun. I'm currently working a full-time job and this is my personal project. I don't have any formal background in Software but I have always been interested and never made the leap. Well...I kind of did and got cold feet, you will read more about that experience once I finish the <b>CRUD</b>(create, read, update, read) functionalities of my blog page. As for my formal education, I received my bachelor's in Information System in December 2018 from California State University Fullerton. Well, if you have made it this far, welcome to my website! I'm not sure how long I can keep the hosting service up, but hey, this holds me accountable for a regular update of my progress. Stay tuned! </p>
        </div>
      </div>
    </div>
  </section>
  <footer class="center bg-dark">
    <p>Minhtality &copy; 2019</p>
  </footer>
</head>

</HTML>
