extends layout
block content
  div(style='text-align: center;')
    img(src='.assets/img/me.jpg' alt="Minh Tran")
    h2 Minh M. Tran
    h4 A Full Stack Developer For Fun
    div(style='text-align: center;') 
      a(href="https://www.linkedin.com/in/minh-m-tran/", class="fab fa-linkedin") 
      a(href="https://github.com/Minhtality", class="fab fa-github")
      a(href="https://www.instagram.com/minhtality/", class="fab fa-instagram")
